---
layout: default
---

<div class="header-bar">
  <img class="logo" src="{{ site.logo }}"/>
  
  <br/>
  <hr>
  <br/>
</div>

{% for page in site.collections %}
{% assign name = page.label %}
{% if name != "about" and name != "posts" %}
{% assign url = page.url %}
<div class="thin-project">    
    <div class="thin-thumbnail">
        <a href="{{ url | prepend: site.baseurl }}">
            {% if page.image %}
            <img class="thin-thumbnail" src="{{ page.image }}"/>
            {% else %}
            <div id="thumb-text" class="thin-thumbnail blankbox"></div>
            {% endif %}
            <span>
                {% capture titlecase %}
                    {{ name | capitalize }}
                {% endcapture %}
                <h1>{{ titlecase }}</h1>
            </span>
        </a>
    </div>
</div>
{% endif %}
{% endfor %}
