---
layout: default
---

<div class="header-bar">
  <img class="logo" src="{{ site.logo }}"/>
  
  <br/>
  <hr>
  <br/>
</div>


{% assign projects = site.furniture | concat: site.shopbuilds | sort: 'date' | reverse %}
{% for project in projects %}

{% if forloop.index > 9 %}
    {% break %}
{% endif %}
<div class="post">
{% if project.redirect %}
<div class="project">
    <div class="thumbnail">
        <a href="{{ project.redirect }}" target="_blank">
        {% if project.img %}
        <img class="thumbnail" src="{{ project.img }}"/>
        {% else %}
        <div class="thumbnail blankbox"></div>
        {% endif %}
        <span>
            <h1>{{ project.title }}</h1>
            <br/>
            <p>{{ project.description }}</p>
        </span>
        </a>
    </div>
</div>
{% else %}

<div class="project ">
    <div class="thumbnail">
        <a href="{{ site.baseurl }}{{ project.url }}">
        {% if project.img %}
        <img class="thumbnail" src="{{ project.img }}"/>
        {% else %}
        <div class="thumbnail blankbox"></div>
        {% endif %}
        <span>
            <h1>{{ project.title }}</h1>
            <br/>
            <p>{{ project.description }}</p>
        </span>
        </a>
    </div>
</div>
{% endif %}
</div>
{% endfor %}
<div class="project">
    <div class="more-links">
        <a href="/furniture">
            <span>
                <h1>More<br/>Furniture</h1>
            </span>
        </a>
    </div>
</div>
<div class="project">
    <div class="more-links">
        <center>
            <a href="/plans"><h1>Plans</h1></a>
        </center>i
    </div>
</div>
<div class="project">
    <div class="more-links">
        <center>
            <a href="/shopbuilds"><h1>More<br/>Shopbuilds</h1></a>
        </center>
    </div>
</div>
