---
layout: default
---

<div class="header-bar">
  <h2>Engineer. Maker. Woodworker.</h2>
  <h1>{{site.title}}</h1>
  
  <br/>
  <hr>
  <br/>
</div>


{% assign projects = site.furniture | concat: site.shopbuilds | sort: 'date' | reverse %}
{% for project in projects %}

{% if forloop.index > 9 %}
    {% break %}
{% endif %}
<div class="post">
{% if project.redirect %}
<div class="project">
    <div class="thumbnail">
        <a href="{{ project.redirect }}" target="_blank">
        {% if project.img %}
        <img class="thumbnail" src="{{ project.img }}"/>
        {% else %}
        <div class="thumbnail blankbox"></div>
        {% endif %}
        <span>
            <h1>{{ project.title }}</h1>
            <br/>
            <p>{{ project.description }}</p>
        </span>
        </a>
    </div>
</div>
{% else %}

<div class="project ">
    <div class="thumbnail">
        <a href="{{ site.baseurl }}{{ project.url }}">
        {% if project.img %}
        <img class="thumbnail" src="{{ project.img }}"/>
        {% else %}
        <div class="thumbnail blankbox"></div>
        {% endif %}
        <span>
            <h1>{{ project.title }}</h1>
            <br/>
            <p>{{ project.description }}</p>
        </span>
        </a>
    </div>
</div>
{% endif %}
</div>
{% endfor %}
<div class="header-bar">
    <br/>
    <hr>
    <br/>
    <a href="/furniture"><h1>Furniture</h1></a>
    <a href="/shopbuilds"><h1>Shopbuilds</h1></a>
</div>
