
/**
 * Site header   **********************************************************
 */
.site-header {
border-bottom: 2px solid $grey-color-light;
background-color: #fff;
opacity: 0.85;
position:fixed;
left:0px;
top:0px;
height:80px;
width:100%;
z-index: 50;
}

.header-logo {
background-image: url('/img/logo-long.png');
background-repeat: no-repeat;
background-size: contain;
height: 150px;
width: 200px;
display: inline-block;
vertical-align: middle;
padding-bottom: 1px;
}

.header-logo:hover {
background-image: url('/img/logo-long-hover.png');
}

.site-title {
font-size: 20px;
line-height: $nav-height;
letter-spacing: -1px;
margin-bottom: 0;
&:hover {
text-decoration: none;
color: $theme-color;
    }
}
.site-nav {
font-size: 20px;
float: right;
margin-top: 12px;
line-height: $nav-height;
    .page-link{
        line-height: $base-line-height;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
        margin-left: 10px;
        }
    }
    @include media-query($on-palm) {
        position: fixed;
        top: 0px;
        right: 10px;
        text-align: right;
        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }
        .page-link {
            display: line;
        }
    }
}

.dropdown {
position: relative;
display: inline-block;
line-height: 31px;
}

.dropdown-content {
font-size: 16px;
display: none;
position: absolute;
background-color: darken($grey-color-dark, 10%);
border: 1px;
width: 8vmax;
max-width: 15vmax;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
text-align: center;
}

.dropdown-content a {
color: $grey-color-light;
padding: 2px 4px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover{
color: $theme-color;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header-bar{
    left: 0px;
    top: 0px;
    position: relative;
    font-size: 20px;
    display: block;
    opacity: 0.85;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    line-height: 3em;
    z-index: 25;
    h1{
        font-size:75px;
    }
    h2{
        color: $theme-color;
        font-size:50px;
    }
}


.logo {
height: auto;
width: 8vmax;
}

.logo-small {
height: auto;
width: 5vmax;
}

