/** 
 * Portfolio grid **********************************************************
*/
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.thin-project {
width: 100%;
height: 12vmax;
max-height: 125px;
min-height: 75px;
float: left;
vertical-align: middle;
box-sizing: border-box;
padding: 5px;
}
.thin-thumbnail {
width: 100%;
height: 10vmax;
max-height: 115px;
min-height: 70px;
overflow: hidden;
}
.thin-thumbnail img{
object-position: 50% 40%;
object-fit: cover;
}
.thin-thumbnail a{
float: left;
position: relative;
width: 100%;
height: auto;
}
.thin-thumbnail a span {
display: block;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
color: $grey-color-light;
padding: 5%;
text-align: center;
font-size: 100%;
}

.thin-thumbnail a:hover span {
display: block;
background: rgba(0,0,0,0.4);
}

.project {
width: 33.33%;
height: 30vmax;
max-height: 250px;
min-height: 120px;
float: left;
vertical-align: middle;
box-sizing: border-box;
padding: 10px;
}
.thumbnail{
width: 100%;
height: 25vmax;
max-height: 230px;
min-height: 100px;
overflow: hidden;
}
.thumbnail img{
object-position: 50% 50%;
object-fit: cover;
}
.thumbnail a{
float: left;
position: relative;
width: 100%;
height: auto;
}
.thumbnail a span {
display: block;
position: absolute;
top: 1;
right: 0;
left: 0;
bottom: 0;
padding: 10%;
background: $grey-color-dark;
opacity: 0.75;
color: white;
text-align: center;
font-size: 80%;
    h1 {
    margin-right: 20%;
    }
width: 100%;
height: inherit;
}

.thumbnail a:hover span{
    position: absolute;
    top: 1;
    left: 0;
    bottom: 0;
    right: 0;
    height: inherit;
    background: $theme-color;
    padding: 10%;
}   

.project-links {
width: 33.33%;
height: 30vmax;
max-height: 250px;
min-height: 120px;
float: left;
vertical-align: middle;
box-sizing: border-box;
padding: 10px;
}

.more-links{
width: 100%;
height: 10vmax;
font-size: fit-width;
text-align: center;
}
.more-links a{
float: center;
position: relative;
width: 100%;
height: auto;
}
.more-links a span{
text-align: center;
}
/** 
 * Portfolio pages **********************************************************
*/
.blankbox{
background: $theme-color;
}

.logo {
height: auto;
width: 8vmax;
}

.logo-small {
height: auto;
width: 5vmax;
}

.img_row{
height: auto;
width: 100%;
max-height: 3*$img_height;
overflow: hidden;
box-sizing:border-box;
padding: $img_spacing;
}
.col{ 
width: 100%;
height: 100%;
float: left;
object-fit: cover;
box-sizing:border-box;
padding: $img_spacing;
}

.left {
float: left;
}

.right{
float: right;
}
.one {
width:33.33%;
}
.two {
width: 66.66%;
}
.three{
width: 100%;
}
.half{
width: 55%;
}
.split{
width: 50%;
}
.caption{
height: 100%;
color: $caption_color;
text-align: center;
vertical-align: middle;
font-size: $caption_font_size;
}

